<!DOCTYPE html>
<html>
    <head lang="en">
        <title>Information sur les développers</title>
        <!--/*/ <th:block th:include="fragments/html_head :: head"></th:block> /*/-->
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <br><br><br>
        <div class="container">        
            <h1> Information sur les développers</h1>
            <p>Cette application a été développer par des étudiants TCO LP3 , Année universitaire 2019-2020.
                <br> Développer par:
            </p>
            <ol>
                <li> ANDRIAMORASATA Onjaniaina Sitrakiniavo N°04</li>
                <li> HERINANDRIANA Jean Jacques Séraphin N°07</li>
                <li> MAHEFA Manana Danny N°11</li>
                <li> METY Herman Sylvano N°12</li>
                <li> RANDRIAMANANJARA Nico Olivier N°18</li>
                <li> RANDRIAMANANTENA Tahiana Miavaka N°19 </li>
                <li> RAZAFINDRAKOTO Herimampionona N°24</li>
                <li> RAZAFINDRAZATO Roland Harifetra N°25</li>
            </ol>
            <h2> Cette application web utilise:</h2>
            <ul>
                <li> Spring boot v2.5.3 </li>
                <li class="noliste"> 
                    <img src="../../static/images/boot.png" width="50" th:src="@{/images/boot.png}"/>    
                </li>

                <li> Bootstrap v5.0 </li>
                <li class="noliste"> 
                    <img src="../../static/images/bootstrap.png" width="50" th:src="@{/images/bootstrap.png}"/>    
                </li>

                <li>Maven TomCat serveur </li>
                <li class="noliste"> 
                    <img src="../../static/images/maven.png" width="50" th:src="@{/images/maven.png}"/>
                    <img src="../../static/images/tomcat.png" width="50" th:src="@{/images/tomcat.png}"/>    
                </li>

                <li> Java JDK-11 </li>
                <li class="noliste"> 
                    <img src="../../static/images/java.png" width="50" th:src="@{/images/java.png}"/>    
                </li>

                <li> Mysql v8 </li>
                <li class="noliste"> 
                    <img src="../../static/images/Mysql.png" width="50" th:src="@{/images/Mysql.png}"/>    
                </li>

            </ul>

            <p> </p>
        </div>
        <style>
            .noliste{
                list-style: none;
            }
        </style>        
    </body>
</html>
