<!DOCTYPE html>
<html>
    <head lang="en">
        <title>Spring Boot Example</title>
        <!--/*/ <th:block th:include="fragments/html_head :: head"></th:block> /*/-->
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <br>
        <div class="container">
            <h2> Bienvenue au gestion des informations des étudiants </h2>
            <p>
                Cette application web permet de:
            </p>
            <ul>
                <li> Ajouter un étudiant </li>
                <li> Modifier un étudiant</li>
                <li> Supprimer un étudiant</li>
                <li> Voir la liste des étudiants</li>
            </ul>
        </div>

    </body>
</html>
